.section{
  padding: 10px 10px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.boxProduct{
  margin: 50px 0;
  width: 350px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .img{
  padding: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
}

.img img{
  height: 180px;
} */

.name{
  padding: 20px 0;
  width: 100%;
  height: auto;
}

.name h1{
  font-size: 22px;
  font-family: 'Bebas' !important;
  text-align: center;
}

.name h2{
  font-size: 26px;
  font-family: 'Bebas' !important;
  text-align: center;
}

.buy{
  padding: 12px 0;
  margin-top: 10px;
  width: 250px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: azure;
  cursor: pointer;
}

.buy a{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buy:hover{
  background-color: var(--bg1);
}

.buy svg, .buy path{
  margin-right: 10px;
  font-size: 26px;
  color: var(--bg3);
  cursor: pointer;
}

.buy:hover svg, .buy:hover path{
  color: azure;
}

.buy h2{
  font-size: 22px;
  font-family: 'Bebas' !important;
  color: var(--bg3);
  cursor: pointer;
}

.buy:hover h2{
  color: azure;
}

@media screen and (min-width:768px) and (max-width:1024px){

  .boxProduct{
    margin: 80px 20px;
  }

}

@media screen and (min-width:1024px){

  .boxProduct{
    margin: 80px 50px;
  }

}





